aiofiles
beautifulsoup4
cachetools
celery
celery-types
docxcompose3
docxtpl
fastapi[all]
filelock
flower
gunicorn
html-for-docx
jinja2
mistune
orjson
pydantic
email-validator
python-dotenv
pyyaml
redis
regex # for unicode aware word boundaries for RTL languages
requests
setuptools
termcolor
uvicorn
weasyprint

types-cachetools
types-PyYAML
types-beautifulsoup4
types-orjson
types-requests
types-termcolor
types-toml
types-setuptools
