# TODO do we still need cython here? I think pyproject.toml build
# dependencies brings it in for pydantic so it probably isn't needed
# here. You have to test pydantic install to see though as it will
# only use Rust backend if cython is detected
# cython # For pydantic: https://pydantic-docs.helpmanual.io/install/
# TODO do we still need aiofiles?
aiofiles
celery
celery-types
docxtpl
fastapi[all]
flower
htmldocx
html2docx
gunicorn
jinja2
mistune
orjson
pydantic
email-validator
python-dotenv
pyyaml
redis
requests
setuptools
termcolor
uvicorn
weasyprint

types-PyYAML
types-beautifulsoup4
types-orjson
types-requests
types-termcolor
types-toml
types-setuptools
