<style>
table {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
</style>

{{#.}}
# {{word}} {{#strongs_numbers}}({{/strongs_numbers}}{{strongs_numbers}}{{#strongs_numbers}}){{/strongs_numbers}}

{{definition}}

|   |   |
|---|---|
{{#verses}}
| **{{source_reference}}** | **{{target_reference}}** |
| {{source_text}} | {{target_text}} |
{{/verses}}

{{/.}}